<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Support Workflow</title>
</head>
<body>
    {% extends 'base_template.html' %}

    {% block title %}Add Support Workflow{% endblock %}

    {% block content %}
        <h1>Add Support Workflow</h1>
        <div class="form-container">
            <div class = "form-group">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    {% endblock %}
</body>
</html>