<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Controller Manufacturer</title>
</head>
<body>
    {% extends 'base_template.html' %}

    {% block title %}Add Controller Manufacturer{% endblock %}

    {% block content %}
        <h1>Add Controller Manufacturer</h1>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">Name:</label>
                    {{ form.name }}
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
    {% endblock %}
</body>
</html>

