{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ControllerApp{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'ControllerSupportBot/css/style.css' %}">
</head>
<body>
    <div class="header">
        <h1>{% block header %}Welcome to ControllerApp{% endblock %}</h1>
        <a href="{% url 'admin:index' %}" class="admin-button" target="_blank">Admin</a>
    </div>

    <div class="container">
        {% block content %}
        <!-- Default content can go here or just leave it blank for child templates to fill -->
        {% endblock %}
    </div>

    <div class="footer">
        <p>&copy; 2024 ControllerApp. All rights reserved.</p>
    </div>

    {% block scripts %}
    <!-- Add your general scripts here -->
    {% endblock %}
</body>
</html>
